# Sqlite3

In [1]:
# Removing file before run all cells
import os

def remove_file(filename):
    if os.path.exists(filename):
        os.remove(filename)


remove_file('customer.db')

## Necessary steps

In [2]:
import sqlite3

connection = sqlite3.connect('customer.db')

cursor = connection.cursor()

# Do your things using cursor

# stage changes and close
# connection.commit()
# connection.close()

## Create a Table

In [3]:
cursor.execute("""CREATE TABLE customers (
        first_name TEXT NOT NULL,
        last_name TEXT,
        email TEXT,
        age INTEGER
    )
""")

## Insert values

### Insert One record

In [4]:
cursor.execute("INSERT INTO customers VALUES ('John', 'Smith', 'john@gmail.com', 23)")

### ATENÇÃO: O Sqlite não da erro se mandar um TEXT na coluna onde é INTEGER
### O Sqlite apenas da erro quando vamos colocar TEXT nas Primary Key ou Foreign Key

In [5]:
cursor.execute("INSERT INTO customers VALUES ('Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade')")

#### Exemplo função
```python
def add_one(first, last, email, age):
    # ... faz conexao ...
    cursor.execute("INSERT INTO customers VALUES (?,?,?,?)", (first, last, email, age))
    # ...commit and close
```

### Insert Many Records

In [6]:
many_customers = [
    ('Oscar', 'Silva', 'oscar@hotmail.com', 12),
    ('Matheus', 'Silveira', 'math@gmail.com', 18),
    ('Isabela', 'Martins', 'isa@gmail.com', 25)]

cursor.executemany("INSERT INTO customers VALUES (?,?,?,?)", many_customers)

#### Exemplo função
```python
def add_many(records):
    # ... faz conexao ...
    cursor.executemany("INSERT INTO customers VALUES (?,?,?,?)", (records))
    # ...commit and close
```

##  Query and Fetchall

### fetchone()

In [7]:
cursor.execute("SELECT * FROM customers")
cursor.fetchone() # returns tuple

('John', 'Smith', 'john@gmail.com', 23)

### fetchmany()

In [8]:
cursor.execute("SELECT * FROM customers")
cursor.fetchmany(3) # returns list of tuples

[('John', 'Smith', 'john@gmail.com', 23),
 ('Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 ('Oscar', 'Silva', 'oscar@hotmail.com', 12)]

### fetchall()

In [9]:
cursor.execute("SELECT * FROM customers")
cursor.fetchall() # returns list of tuples

[('John', 'Smith', 'john@gmail.com', 23),
 ('Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 ('Oscar', 'Silva', 'oscar@hotmail.com', 12),
 ('Matheus', 'Silveira', 'math@gmail.com', 18),
 ('Isabela', 'Martins', 'isa@gmail.com', 25)]

## Primary Key

In [10]:
cursor.execute("SELECT rowid,* FROM customers")
cursor.fetchall() # returns list of tuples

[(1, 'John', 'Smith', 'john@gmail.com', 23),
 (2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 (3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (5, 'Isabela', 'Martins', 'isa@gmail.com', 25)]

## Using WHERE to filter results

Pode usar qualquer tipo de comparador `>` `>=` `<` `<=`

In [11]:
cursor.execute("SELECT * FROM customers WHERE last_name = 'Smith'")
cursor.fetchall()

[('John', 'Smith', 'john@gmail.com', 23)]

In [12]:
cursor.execute("SELECT * FROM customers WHERE age >= 18 ")
cursor.fetchall()

[('John', 'Smith', 'john@gmail.com', 23),
 ('Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 ('Matheus', 'Silveira', 'math@gmail.com', 18),
 ('Isabela', 'Martins', 'isa@gmail.com', 25)]

### Using LIKE

In [13]:
cursor.execute("SELECT * FROM customers WHERE last_name LIKE 'Sm%' ")
cursor.fetchall()

[('John', 'Smith', 'john@gmail.com', 23)]

In [14]:
cursor.execute("SELECT * FROM customers WHERE last_name LIKE 'Sil%' ")
cursor.fetchall()

[('Oscar', 'Silva', 'oscar@hotmail.com', 12),
 ('Matheus', 'Silveira', 'math@gmail.com', 18)]

In [15]:
cursor.execute("SELECT * FROM customers WHERE email LIKE '%gmail.com' ")
cursor.fetchall()

[('John', 'Smith', 'john@gmail.com', 23),
 ('Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 ('Matheus', 'Silveira', 'math@gmail.com', 18),
 ('Isabela', 'Martins', 'isa@gmail.com', 25)]

## And/OR

In [16]:
cursor.execute("SELECT rowid,* FROM customers WHERE last_name LIKE 'Sil%' AND rowid = 2")
cursor.fetchall()

[]

In [17]:
cursor.execute("SELECT rowid,* FROM customers WHERE last_name LIKE 'Sil%' OR rowid = 4")
cursor.fetchall()

[(3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18)]

## Order By

Pode Default `ORDER BY` será usando `ASC` Ascendente, ou seja do menor para maior. 

Quando quisermos ao contrário (descendente) usamos `DESC` no final do comando

In [18]:
cursor.execute("SELECT rowid,* FROM customers ORDER BY rowid DESC")
cursor.fetchall()

[(5, 'Isabela', 'Martins', 'isa@gmail.com', 25),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12),
 (2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 (1, 'John', 'Smith', 'john@gmail.com', 23)]

Poderia colocar `ASC` no final, mas é desnecessário  

`cursor.execute("SELECT rowid,* FROM customers ORDER BY rowid ASC")`

In [19]:
cursor.execute("SELECT rowid,* FROM customers ORDER BY first_name")
cursor.fetchall()

[(2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 (5, 'Isabela', 'Martins', 'isa@gmail.com', 25),
 (1, 'John', 'Smith', 'john@gmail.com', 23),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12)]

In [20]:
cursor.execute("SELECT rowid,* FROM customers ORDER BY age")
cursor.fetchall()

[(3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (1, 'John', 'Smith', 'john@gmail.com', 23),
 (5, 'Isabela', 'Martins', 'isa@gmail.com', 25),
 (2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade')]

In [21]:
cursor.execute("SELECT rowid,* FROM customers ORDER BY last_name")
cursor.fetchall()

[(2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 (5, 'Isabela', 'Martins', 'isa@gmail.com', 25),
 (3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (1, 'John', 'Smith', 'john@gmail.com', 23)]

## Limiting Results

In [22]:
cursor.execute("SELECT rowid,* FROM customers LIMIT 2")
cursor.fetchall()

[(1, 'John', 'Smith', 'john@gmail.com', 23),
 (2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade')]

In [23]:
cursor.execute("SELECT rowid,* FROM customers WHERE last_name LIKE 'Sil%' OR rowid = 4 LIMIT 1")
cursor.fetchall()

[(3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12)]

## Update Records

### CUIDADO!
O próximo comando funciona, porém irá mudar *TODOS* os nomes de quem possui `last_name = 'Smith'`

In [24]:
cursor.execute("""UPDATE customers SET first_name = 'Bob'
    WHERE last_name = 'Smith'
""")

cursor.execute("SELECT rowid,* FROM customers WHERE last_name = 'Smith'")
cursor.fetchall()

[(1, 'Bob', 'Smith', 'john@gmail.com', 23)]

### Melhor fazer updates usando a PrimaryKey `id`

In [25]:
cursor.execute("""UPDATE customers SET first_name = 'John'
    WHERE rowid = 1
""")

cursor.execute("SELECT rowid,* FROM customers WHERE last_name = 'Smith'")
cursor.fetchall()

[(1, 'John', 'Smith', 'john@gmail.com', 23)]

## Delete records

In [26]:
cursor.execute("SELECT rowid,* FROM customers")
cursor.fetchall()

[(1, 'John', 'Smith', 'john@gmail.com', 23),
 (2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 (3, 'Oscar', 'Silva', 'oscar@hotmail.com', 12),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (5, 'Isabela', 'Martins', 'isa@gmail.com', 25)]

In [27]:
cursor.execute("DELETE from customers WHERE rowid = 3")

cursor.execute("SELECT rowid,* FROM customers")
cursor.fetchall()

[(1, 'John', 'Smith', 'john@gmail.com', 23),
 (2, 'Adson', 'Falconi', 'ari@gmail.com', 'Texto na idade'),
 (4, 'Matheus', 'Silveira', 'math@gmail.com', 18),
 (5, 'Isabela', 'Martins', 'isa@gmail.com', 25)]

### Por algum motivo tem passar o `id` em `string`
```python
def delete_one(id: str):
    cursor.execute("DELETE from customers WHERE rowid = (?)", id)
```

## Delete Table (Drop Table)

In [28]:
# cursor.execute("DROP TABLE customers")
# connection.commit()

## Closing this database

In [29]:
connection.commit()
connection.close()

# Relationships

## COMO DEFINIR A RELAÇÃO
Temos 3 tipos  
- One-to-One
- One-to-Many
- Many-to-Many

Remember ,if you want to express a requirement which says that **Item X belongs to Item Y** .we just put a **foreign key in Item X** which references Item Y .

This will create a **Many To One** relationship from X to Y .

---
If also **Item Y belongs to Item X** ,we place **another foreign key in Y** which references Item X which creates a **One To One** relationship .

## Many-to-Many
- Uma **child** pode ter vários **dogs**
- Um **dog** poder ter vários **child**

In [30]:
import sqlite3
remove_file('manytomany.db')

conn = sqlite3.connect('manytomany.db')
c = conn.cursor()

c.execute("""CREATE TABLE child (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT
);
""")

c.execute("""CREATE TABLE dog (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    dog TEXT
);
""")

c.execute("""CREATE TABLE child_dog (
    child_id INTEGER,
    dog_id INTEGER,
    FOREIGN KEY(child_id) REFERENCES child(id),
    FOREIGN KEY(dog_id) REFERENCES dog(id)
);
""")

# Insert bobby child
c.execute("""INSERT INTO child VALUES (NULL, 'bobby')""")
# The python module puts the last row id inserted into a variable on the cursor
bobby_id = c.lastrowid

# Insert spot dog
c.execute("""INSERT INTO dog VALUES (NULL, 'spot')""")
spot_id = c.lastrowid

# Insert the mapping
c.execute("""INSERT INTO child_dog VALUES(?, ?)""", (bobby_id, spot_id));
# Commit
conn.commit()
conn.close()

- `FOREIGN KEY ()` tells SQlite that child_id is a foreign key .

- `REFERENCES ()` tells SQlite the table and column we are relating to so we actually relate to a specific column in a table not the table itself.

## One-to-many or Many-to-one

### TODO List Example
- Uma **Lista** pode ter muitos **items**
- Um **item** pertence à uma **lista** apenas

In [31]:
# TODO LIST EXAMPLE
import sqlite3
remove_file('onetomany.db')

conn = sqlite3.connect('onetomany.db')
c = conn.cursor()

c.execute("""CREATE TABLE lists (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL
);
""")

c.execute("""CREATE TABLE items (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    list_id INTEGER NOT NULL,
    content TEXT NOT NULL,
    FOREIGN KEY (list_id) REFERENCES lists (id)
);
""")

c.execute("INSERT INTO lists (title) VALUES (?)", ('Work',))
c.execute("INSERT INTO lists (title) VALUES (?)", ('Home',))
c.execute("INSERT INTO lists (title) VALUES (?)", ('Study',))

c.execute("INSERT INTO items (list_id, content) VALUES (1, 'Morning meeting')")
c.execute("INSERT INTO items (list_id, content) VALUES (2, 'Buy fruit')")
c.execute("INSERT INTO items (list_id, content) VALUES (2, 'Cook dinner')")
c.execute("INSERT INTO items (list_id, content) VALUES (3, 'Learn Flask')")
c.execute("INSERT INTO items (list_id, content) VALUES (3, 'Learn SQLite')")

conn.commit()
conn.close()

## One-to-one
- Each article can belong to one family .

- Each family has only one article

In [32]:
import sqlite3
remove_file('onetoone.db')

conn = sqlite3.connect('onetoone.db')
c = conn.cursor()

c.execute("""CREATE TABLE IF NOT EXISTS families (
     id INTEGER PRIMARY KEY,
     name TEXT NOT NULL,
     article_id INTEGER,
     FOREIGN KEY(article_id) REFERENCES articles(id)
     );
""")

c.execute("""CREATE TABLE IF NOT EXISTS  articles (
    id INTEGER PRIMARY KEY,
    reference VARCHAR(32) NOT NULL,
    name TEXT NOT NULL,
    available INTEGER,
    family_id INTEGER,
    FOREIGN KEY(family_id) REFERENCES families(id)
 );
""")


conn.commit()
conn.close()